{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="login-container">
        <h2>ABOUT ME:</h2>
        <p>Name: Jade Taguba</p>
        <p>Age: 21</p>
        <p>Gender: Male</p>
        <p>Religion: Roman Catholic</p>

    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 J & D Corporation</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</body>
{% endblock content %}