{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="login-container">
        <h2>MY CONTACTS:</h2>
        <p>Number: TM: 09559810613</p>
        <p>Fb: Jade Taguba/ Jade Pangilinan Taguba</p>
        <p>Email: tagubajade15@gmail.com</p>
        <p>Instagram: Jade Taguba</p>

    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 J & D Corporation</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</body>

{% endblock content %}